# --- DATABASE CONFIGURATION ---
# Remplace par tes vrais identifiants dans ton fichier .env local
DATABASE_URL=postgresql://votre_utilisateur:votre_mot_de_passe@votre_ip_proxmox:5432/votre_bdd

# --- APP CONFIGURATION ---
DEBUG=True
HOST=0.0.0.0
PORT=8080
LOG_LEVEL=trace
WORKERS=1